<div>
<label for="message">Message:</label>
<label for="asciiMessage">Message converted to ascii:</label>
  <div>

<textarea [formControl]="messageControl" type="text" id="message"></textarea>

  <textarea id="asciiMessage" disabled="disabled">{{this.asciiMessage}}</textarea>
  </div>
</div>


<app-encrypt [asciiMessage]="asciiMessage"></app-encrypt>

<div id="cypherTextAscii">
  <textarea id="cypherTextAscii" disabled="disabled"> {{this.asciiCypherText}}</textarea>
  <textarea id="cypherTextAscii" disabled="disabled"> {{this.asciiCypherText}}</textarea>
</div>


<app-decrypt></app-decrypt>

